<div class="container">
    <div class="weather-search">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    Wind speed and pressure of selected locations in European Countries
                </div>
                <div>
                    <form class="form-inline" role="form">
                        <span class="btn-group" >
                            <button ng-repeat="item in stormLocations" ng-click="setLocation(item)" type="submit" class="btn btn-default">{{item}}</button>
                        </span>
                        <span class="form-group {{hasState}}">
                            <label class="sr-only" for="location">City</label>
                            <input ng-model="location" type="text" class="form-control" id="location" placeholder="City">
                        </span>
                        <button ng-click="getForecastByLocation(location)" type="submit" class="btn btn-primary">Search!</button>
                        <span ng-show="message" class="alert"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{message}}</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="weather-data" ng-show="true">
        <div class="row">
            <div class="col-xs-12">
                <div class="" ng-if="location">
                    <h3>
                        {{forecast.name | placeholder:'?'}}, {{forecast.country | isoCountry}}
                        <small>Lon: {{forecast.coord.lon | number:2}} Lat: {{forecast.coord.lat | number:2}} </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="weather panel panel-primary" ng-if="location" ng-click="getDailyForecastByLocation(location)">
                    <div class="panel-heading">{{parseDate(forecast.dt) | date:'fullDate'}}</div>
                    <div class="panel-body">
                        <div>
                            <p class="lead">
                                <img ng-src="{{getIconImageUrl(forecast.weather[0].icon)}}" />
                                Sun-rise: {{ parseDate(forecast.sys.sunrise) | date:'medium'}}<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sun-set: {{parseDate(forecast.sys.sunset) | date:'medium'}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-6">
                <div ng-if="location && showFlag" weather-panel-wind="dailyForecast" show-entry="dailyForecast.list[1]"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6">
                <div ng-if="location && showFlag" weather-panel-wind="dailyForecast" show-entry="dailyForecast.list[2]"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6">
                <div ng-if="location && showFlag" weather-panel-wind="dailyForecast" show-entry="dailyForecast.list[3]"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6">
                <div ng-if="location && showFlag" weather-panel-wind="dailyForecast" show-entry="dailyForecast.list[4]"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6">
                <div ng-if="location && showFlag" weather-panel-wind="dailyForecast" show-entry="dailyForecast.list[5]"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6">
                <div ng-if="location && showFlag" weather-panel-wind="dailyForecast" show-entry="dailyForecast.list[6]"></div>
            </div>
        </div>
    </div>
</div>
